# Service
API_NAME=flow-ledger-core
API_PORT=3000

# Database
POSTGRES_USER=flow_ledger_core
POSTGRES_PASSWORD=extremely_secure_password
POSTGRES_DB=flow_ledger_core_db
POSTGRES_PORT=5432
DATABASE_URL="postgresql://flow_ledger_core:extremely_secure_password@localhost:5432/flow_ledger_core_db"